// Reset CSS 

*, *:before, *:after{
   box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   text-size-adjust: none;
}

footer, header, nav, section, main{
   display: block;
}

body{
   line-height: 1;
}

ol, ul{
   list-style: none;
}

blockquote, q{
   quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
   content: '';
   content: none;
}

table{
   border-collapse: collapse;
   border-spacing: 0;
}

input{
   -webkit-appearance: none;
   border-radius: 0;
}

// Reset CSS 

.background{
   background-image: url('../assets//main-background_desktop.jpg');
   background-repeat: no-repeat;
   // background-position: center center;
   // background-attachment: fixed;
   background-size: cover;
   // height: 100vh;
}

.content{
   // height: 95vh;
}

.footer{
   background-image: url('../assets/footer-background.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   width: auto;
   height: 200px;
}

.logo{
 display: block;
 text-align: center;
 
   img{
      height: 9vw;
      max-width: 100%;
      object-fit: contain;
      margin-top: 6%;
   }
}

.main-offer_text{
   text-align: right;
   img{
   height: 15vw;
   max-width: 100%;
   object-fit: contain;
   }
}

.main-offer_reel{
   img{
      // margin-top: -20px;
      margin: -5% 0 0 100px;
      height: 22vw;
      max-width: 100%;
      object-fit: contain; 
      -ms-transform: rotate(15deg); /* IE 9 */
      transform: rotate(15deg);
   }
}

.join-now{
   button{
      height: 200px;
      width: 200px;
      display: block;
      margin: auto;
      text-align: center;
      margin-bottom: 200px;
   }

}
// .slot {
//    width: auto;
//    height: 100%;
//    overflow: hidden;
//    // float: left;
//    margin-right: 2vh;
//  }
 
//  .slot .slot-inner .panel {
//    background: red;
//    width: 20vh;
//    height: 20vh;
//    text-align: center;
//    margin-bottom: 2vh;
//    color: #fff;
//    font-family: Courier New;
//    line-height: 20vh;
//    font-size: 10vh;
//  }
 
//  .slot.first .slot-inner {
//    animation: spin 2s infinite linear;
//  }
 
 
 
//  @keyframes spin {
//    from { margin-top: 0; }
//    to { margin-top: -174.6vh; }
//  }